{% block map_widget %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <div id="mapid" style="height: 100px;"></div>

    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}

    <script>
        var mapId = 'mapid';

        var latLng = getLatLng();

        var mymap = L.map(mapId).setView(latLng, 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(mymap);

        var marker = L.marker(latLng, { draggable: true }).addTo(mymap);

        marker.on('dragend', updateInputFields);

        function updateInputFields() {
            var latLng = marker.getLatLng();

            $('#{{ form.latitude.vars.id }}').val(latLng.lat);
            $('#{{ form.longitude.vars.id }}').val(latLng.lng);
        }

        function getLatLng() {
            var latitude = $('#{{ form.latitude.vars.id }}').val();
            var longitude = $('#{{ form.longitude.vars.id }}').val();

            var latLng = new L.latLng(latitude, longitude);

            console.log(latLng);
            return latLng;
        }

    </script>


{% endblock %}

